@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --background-start: #f5f5f5;
  --background-end: #bbdefb;
  --color-primary: #236ec5;
  --color-primary-darker: #1558a5;
  --color-secondary: #aec9d7;
  --color-secondary-darker: #78909c;
  --text-primary: #646262;
  --text-secondary: #dbd8d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-start);
  background-image: linear-gradient(
    to top,
    var(--background-start) 0%,
    var(--background-end) 74%
  );

  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

main {
  width: 100vw;
  height: 100vh;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.title {
  position: absolute;
  top: 0rem;
  font-size: 4.3rem;
  letter-spacing: 2rem;
  font-weight: 900;
  color: var(--text-primary);
}

main section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 320px;
  gap: 2rem;
  background-color: var(--color-secondary);
  box-shadow: 12px 12px 15px var(--color-secondary-darker);
  padding: 1rem;
  border-radius: 1.2rem;
}

main section h2 {
  font-size: 2rem;
  color: var(--text-primary);
  letter-spacing: 2px;
  position: absolute;
  top: 1rem;
}

main section input {
  position: relative;
  width: 100%;
  padding: 1rem;
  font-size: 2.3rem;
  background-color: var(--color-secondary-darker);
  outline: 0;
  border: 2px solid var(--color-secondary-darker);
  border-radius: 0.5rem;
  color: var(--text-primary);
  transition: all 0.3s ease;
  font-weight: 700;
}

main section input:focus,
main section input:hover {
  border-color: var(--color-primary);
  transition: all 0.3s ease;
}

main section input::placeholder {
  font-size: 2rem;
  color: var(--text-secondary);
}

main section.qr-generator button {
  width: calc(100% - 2rem);
  height: 55px;
  position: absolute;
  bottom: 1rem;
  border-radius: 1rem;
  outline: 0;
  background-color: var(--color-secondary-darker);
  border: 2px solid var(--color-primary);
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-secondary);
  text-align: left;
  padding-inline-start: 1.5rem;
  cursor: pointer;
  /* overflow: hidden; */
  transition: all 150ms ease;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--color-primary);
    z-index: 0;
    transition: transform 450ms ease-out;
    border-radius: 0.5rem;
  }

  &:hover {
    color: var(--color-secondary-darker);
    &::before {
      transform: scaleX(1);
      transform-origin: left;
      transition: transform 450ms ease-out;
    }
  }
}

main section.qr-generator p {
  display: block;
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

main section.qr-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-shrink: 0;
  overflow: 0;
}

main section.qr-container .qrs {
  position: absolute;
  height: calc(100% - 5rem);
  width: 100%;

  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main section.qr-container .slide-buttons {
  height: 70%;
  width: 60px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  opacity: 0;
  z-index: 9999;

  transition: all 0.3s ease;

  &.active {
    opacity: 1;

    & ion-icon {
      cursor: pointer;
    }
  }

  & ion-icon {
    font-size: 3.6rem;
    color: var(--color-secondary-darker);
    transition: all 0.3s ease;

    &:hover {
      color: var(--color-primary);
    }
  }
}

main section.qr-container .slide-buttons ion-icon {
  font-size: 3.6rem;
  color: var(--color-secondary-darker);
  transition: all 0.3s ease;

  &:hover {
    color: var(--color-primary);
  }
}

main section.qr-container .qr {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  flex-shrink: 0;
}

main section.qr-container .qr .image-container {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  padding-left: 2rem;
  margin-bottom: 0.6rem;
}

main section.qr-container .qr .image-container img {
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 1.5rem;

  &:hover {
    /* ! Quien sabe xq esto no va */
    cursor: url('../images/expand-dark.png') 10 10, pointer;
  }
}

main section.qr-container .qr .data {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

main section.qr-container .qr .data p {
  font-size: 2.5rem;
  color: var(--text-primary);
  margin-left: 2rem;
  max-width: 8ch;
  overflow: hidden;
}

main section.qr-container .qr .data .options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35%;
}

main section.qr-container .qr .data .options ion-icon {
  z-index: 999;
  font-size: 2.3rem;
  color: var(--text-secondary);
  cursor: pointer;
  border-radius: 0.6rem;
  transition: all 0.3s ease;
  padding: 0.6rem;
  background-color: var(--color-secondary-darker);

  &:hover {
    color: var(--color-primary);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start: #1f1f20;
    --background-end: #141318;
    --color-primary: #a6ffae;
    --color-primary-darker: #81d388;
    --color-secondary: #33323a;
    --color-secondary-darker: #222127;
    --text-primary: #eee;
    --text-secondary: #5f5d6b;
  }
}
