<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>QRCode</title>
  <link rel="stylesheet" href="./css/home.css" />
</head>

<body>
  <div class="title">
    <h1>QRCode</h1>
  </div>

  <main>
    <label for="textInput">Enter a text or an URL</label>
    <input type="text" name="Text Input" id="textInput" />
    <h2>Or!</h2>
    <label for="imageInput">Upload and Image</label>
    <input type="file" name="Image Input" id="imageInput" />

    <button id="createQrButton">
      <p>Create Your QR!</p>
    </button>
  </main>

  <script src="./js/home.js"></script>
</body>

</html>